body {
  font-family: "Maven Pro", sans-serif;
}
table {
  border-collapse: collapse;
  border: 1px solid #565A5C;
}
table tr {
  border-bottom: 1px solid #565A5C;
}
table th {
  background-color: #106C72;
  color: white;
  font-size: 1.2rem;
  padding: .25em;
  text-align: left;
}
table td {
  background-color: #F5F5F5;
  padding: .5em;
}
.filters {
  background-color: #F5F5F5;
  border: 1px solid #565A5C;
  float: left;
  margin: 0 1em;
  padding: 1em;
}
.filters h4 {
  font-size: 1.2rem;
  margin: 0 0 .5em 0;
}
